/* @media > 640px  start*/
@media (min-width: 640px) {
    .conteiner {
        min-width: 640px;
        padding: 0 30px;
    }
    .header {
        height: 100px;
        &__inner {
            height: 100px;
        }
    }
    .slider {
        min-height: 386px;
        &__item {
            min-height: 386px;
        }
        &__title {
            font-size: 60px;
            line-height: 60px;
            margin-bottom: 45px;
            padding-top: 50px;
        }
        &__btn {
            display: inline-block;
        }
    }
    .slick-dots {
        bottom: 50px;
    }
    .top {
        min-height: 254px;
        &__text {
            max-width: 580px;
        }
    }
    .servis {
        &__title {
            font-size: 48px;
            line-height: 56px;
            margin-top: 24px;
            margin-bottom: 24px;
            &::after {
                display: none;
            }
        }
        &__text-1 {
            margin-bottom: 68px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 100px;
                height: 8px;
                background-color: #2b4074;
                left: calc(50% - 50px);
                bottom: -30px;
            }
        }
        &__text-2 {
            font-size: 18px;
            line-height: 24px;
        }
        &__items{
            display: flex;
            flex-wrap: wrap;
        }
        &__item {
            float: left;
            width: 50%;
        }
        &__item:nth-child(odd) {
            border-left: none;
        }
        &__item:nth-child(even) {
            border-left: none;
            border-right: none;
        }
    }
    .projects{
        &__title{
            font-size: 48px;
            line-height: 56px;
        }
        &__item{
            max-width: 518px;
            height: 460px;
            margin: 0 auto;
            &-title{
                font-size: 20px;
                line-height: 23px;
            }
            &-img{
                a img{
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
    .team{
        &__img{
            max-height: 520px;
            margin-top: 46px;
            margin-bottom: 46px;
        }
        &__title{
            font-size: 36px;
            margin-bottom: 68px;
            &::after{
                width: 88px;
                left: calc(50% - 44px);
            }
        }
        &__text{
            margin-bottom: 56px;
        }
        &__btn{
            margin-bottom: 53px;
        }
    }
}



/* @media > 640px  end*/
/* @media > 768px  start*/



@media (min-width: 768px) {
    .conteiner {
        min-width: 768px;
        padding: 0 40px;
    }
    .slider {
        min-height: 465px;
        &__item {
            min-height: 465px;
        }
        &__title {
            margin-bottom: 25px;
            padding-top: 87px;
            &::after {
                display: none;
            }
        }
        &__text {
            display: block;
            max-width: 587px;
            margin: 0 auto;
            margin-bottom: 32px;
        }
        &__btn {
            display: inline-block;
        }
    }
    .top {
        min-height: 187px;
        text-align: left;
        padding-top: 60px;
        &__content {
            display: flex;
            justify-content: space-between;
        }
        &__title {
            padding-top: 0px;
        }
        &__text {
            max-width: 340px;
            margin-bottom: 30px;
        }
        &__btn {
            width: 211px;
            height: 50px;
            margin-top: 9px;
        }
    }
    .servis {
        &__text-1 {
            text-align: left;
            margin-bottom: 72px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 100px;
                height: 8px;
                background-color: #2b4074;
                left: 0;
                bottom: -30px;
            }
        }
        &__text-2 {
            font-size: 18px;
            line-height: 24px;
            text-align: left;
        }
    }
    .projects{
        &__title{
            padding-top: 80px;
            margin-bottom: 112px;
            &::after{
                bottom: -24px;
            }
        }
        &__items{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__item_inner{
            width: 317px;
        }
        &__item{
            width: 317px;
            height: 282px;
            &-img{
                a img{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    .team{
        &__inner{
            display: flex;
        }
        &__img{
            max-height: 227px;
            margin: 0;
            margin-right: 34px;
        }
        &__title{
            text-align-last: left;
            margin-bottom: 35px;
            &::after{
                left: 0;
            }
        }
        &__text{
            font-size: 18px;
            text-align: left;
            margin-bottom: 20px;
        }
        &__btn{
            margin-bottom: 48px;
        }
    }
}
/* @media > 768px  end*/
/* @media > 1024px  start*/
@media (min-width: 1024px) {
    .conteiner {
        min-width: 1024px;
        padding: 0 40px;
    }
    .slider {
        min-height: 618px;
        &__item {
            min-height: 618px;
        }
        &__title {
            margin-bottom: 29px;
            font-size: 84px;
            line-height: 86px;
            padding-top: 100px;
        }
        &__text {
            margin-bottom: 12px;
        }
    }
    .slick-dots {
        bottom: 80px;
    }
    .top {
        min-height: 160px;
        padding-top: 0px;
        &__content {
            min-height: 160px;
            align-items: center;
            &-text {
                min-height: 160px;
            }
        }
        &__title {
            padding-top: 40px;
        }
        &__text {
            max-width: 468px;
        }
        &__btn {
            margin-top: 0px;
        }
    }
    .servis {
        &__title {
            margin-bottom: 60px;
        }
        &__text-1 {
            margin-bottom: 80px;
            &::after {
                bottom: -38px;
            }
        }
        &__text-2 {
            max-width: 568px;
        }
        &__item {
            float: left;
            width: 25%;
            border: none;
        }
        &__item:nth-child(even) {
            border-left: 1px solid #f9f6e5;
        }
        &__item:nth-child(1) {
            border-top: 1px solid #f9f6e5;
            border-bottom: 1px solid #f9f6e5;
        }
        &__item:nth-child(2) {
            border-top: 1px solid #f9f6e5;
            border-bottom: 1px solid #f9f6e5;
            border-right: 1px solid #f9f6e5;
        }
        &__item:nth-child(3) {
            border-top: 1px solid #f9f6e5;
            border-bottom: 1px solid #f9f6e5;
        }
        &__item:nth-child(4) {
            border-top: 1px solid #f9f6e5;
            border-bottom: 1px solid #f9f6e5;
        }
        &__item:nth-child(6) {
            border-right: 1px solid #f9f6e5;
        }
    }
    .team{
        text-align: left;
        &__inner{
            display: block;
            margin-top: 80px;
        }
        &__img{
            max-height: 380px;
            margin-right: 60px;
            float: left;
        }
        &__title{
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 42px;
            margin-top: 20px;
            &::after{
                left: 470px;
                bottom: -15px;
            }
        }
        &__text{
            font-size: 18px;
            text-align: left;
            margin-bottom: 60px;
        }
        &__btn{
            margin-bottom: 48px;
        }
    }
    
}
/* @media > 1024px  end*/
/* @media > 1440px  start*/

@media (min-width: 1440px) {
    .conteiner {
        max-width: 1366px;
        padding: 0 40px;
    }
    .slider {
        min-height: 668px;
        max-width: 1366px;
        margin: 0 auto;
        &__item {
            min-height: 668px;
        }
        &__title {
            margin-bottom: 18px;
            font-size: 96px;
            line-height: 96px;
        }
        &__text {
            margin-bottom: 28px;
        }
    }
    .slick-dots {
        li.slick-active button {
            border-color: #fff;
        }
        button {
            border: 1px solid #fff;
            background-color: #fff;
        }
    }
    .top {
        min-height: 192px;
        &__content {
            min-height: 192px;
            &-text {
                min-height: 192px;
            }
        }
        &__title {
            padding-top: 57px;
        }
        &__text {
            max-width: 540px;
        }
        &__btn {
            margin-top: 0px;
        }
    }
    .servis {
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__content-text {
            max-width: 355px;
            text-align: left;
            margin-right: 100px;
        }
        &__title {
            margin-bottom: 64px;
        }
        &__text-1 {
            margin-bottom: 73px;
            &::after {
                bottom: -30px;
            }
        }
        &__text-2 {
            max-width: 355px;
            margin: 0;
        }
        &__item:nth-child(1) {
            border-top: none;
        }
        &__item:nth-child(2) {
            border-top: none;
        }
        &__item:nth-child(3) {
            border-top: none;
        }
        &__item:nth-child(4) {
            border-top: none;
        }
    }
    .team{
        &__img{
            max-height: 430px;
            margin-right: 100px;
        }
        &__title{
            margin-bottom: 77px;
            &::after{
                left: 565px;
                bottom: -30px;
            }
        }
        &__text{
            margin-bottom: 90px;
        }
        &__btn{
            margin-bottom: 80px;
        }
    }
}
/* @media > 1440px  end*/
