/* @media > 640px  start*/
@media (min-width: 640px) {
  .conteiner {
    min-width: 640px;
    padding: 0 30px;
  }
  .header {
    height: 100px;
  }
  .header__inner {
    height: 100px;
  }
  .slider {
    min-height: 386px;
  }
  .slider__item {
    min-height: 386px;
  }
  .slider__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 45px;
    padding-top: 50px;
  }
  .slider__btn {
    display: inline-block;
  }
  .slick-dots {
    bottom: 50px;
  }
  .top {
    min-height: 254px;
  }
  .top__text {
    max-width: 580px;
  }
  .servis__title {
    font-size: 48px;
    line-height: 56px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .servis__title::after {
    display: none;
  }
  .servis__text-1 {
    margin-bottom: 68px;
    position: relative;
  }
  .servis__text-1::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 8px;
    background-color: #2b4074;
    left: calc(50% - 50px);
    bottom: -30px;
  }
  .servis__text-2 {
    font-size: 18px;
    line-height: 24px;
  }
  .servis__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .servis__item {
    float: left;
    width: 50%;
  }
  .servis__item:nth-child(odd) {
    border-left: none;
  }
  .servis__item:nth-child(even) {
    border-left: none;
    border-right: none;
  }
  .projects__title {
    font-size: 48px;
    line-height: 56px;
  }
  .projects__item {
    max-width: 518px;
    height: 460px;
    margin: 0 auto;
  }
  .projects__item-title {
    font-size: 20px;
    line-height: 23px;
  }
  .projects__item-img a img {
    width: 60px;
    height: 60px;
  }
  .team__img {
    max-height: 520px;
    margin-top: 46px;
    margin-bottom: 46px;
  }
  .team__title {
    font-size: 36px;
    margin-bottom: 68px;
  }
  .team__title::after {
    width: 88px;
    left: calc(50% - 44px);
  }
  .team__text {
    margin-bottom: 56px;
  }
  .team__btn {
    margin-bottom: 53px;
  }
}

/* @media > 640px  end*/
/* @media > 768px  start*/
@media (min-width: 768px) {
  .conteiner {
    min-width: 768px;
    padding: 0 40px;
  }
  .slider {
    min-height: 465px;
  }
  .slider__item {
    min-height: 465px;
  }
  .slider__title {
    margin-bottom: 25px;
    padding-top: 87px;
  }
  .slider__title::after {
    display: none;
  }
  .slider__text {
    display: block;
    max-width: 587px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  .slider__btn {
    display: inline-block;
  }
  .top {
    min-height: 187px;
    text-align: left;
    padding-top: 60px;
  }
  .top__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .top__title {
    padding-top: 0px;
  }
  .top__text {
    max-width: 340px;
    margin-bottom: 30px;
  }
  .top__btn {
    width: 211px;
    height: 50px;
    margin-top: 9px;
  }
  .servis__text-1 {
    text-align: left;
    margin-bottom: 72px;
    position: relative;
  }
  .servis__text-1::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 8px;
    background-color: #2b4074;
    left: 0;
    bottom: -30px;
  }
  .servis__text-2 {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
  }
  .projects__title {
    padding-top: 80px;
    margin-bottom: 112px;
  }
  .projects__title::after {
    bottom: -24px;
  }
  .projects__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .projects__item_inner {
    width: 317px;
  }
  .projects__item {
    width: 317px;
    height: 282px;
  }
  .projects__item-img a img {
    width: 40px;
    height: 40px;
  }
  .team__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .team__img {
    max-height: 227px;
    margin: 0;
    margin-right: 34px;
  }
  .team__title {
    text-align-last: left;
    margin-bottom: 35px;
  }
  .team__title::after {
    left: 0;
  }
  .team__text {
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
  }
  .team__btn {
    margin-bottom: 48px;
  }
}

/* @media > 768px  end*/
/* @media > 1024px  start*/
@media (min-width: 1024px) {
  .conteiner {
    min-width: 1024px;
    padding: 0 40px;
  }
  .slider {
    min-height: 618px;
  }
  .slider__item {
    min-height: 618px;
  }
  .slider__title {
    margin-bottom: 29px;
    font-size: 84px;
    line-height: 86px;
    padding-top: 100px;
  }
  .slider__text {
    margin-bottom: 12px;
  }
  .slick-dots {
    bottom: 80px;
  }
  .top {
    min-height: 160px;
    padding-top: 0px;
  }
  .top__content {
    min-height: 160px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top__content-text {
    min-height: 160px;
  }
  .top__title {
    padding-top: 40px;
  }
  .top__text {
    max-width: 468px;
  }
  .top__btn {
    margin-top: 0px;
  }
  .servis__title {
    margin-bottom: 60px;
  }
  .servis__text-1 {
    margin-bottom: 80px;
  }
  .servis__text-1::after {
    bottom: -38px;
  }
  .servis__text-2 {
    max-width: 568px;
  }
  .servis__item {
    float: left;
    width: 25%;
    border: none;
  }
  .servis__item:nth-child(even) {
    border-left: 1px solid #f9f6e5;
  }
  .servis__item:nth-child(1) {
    border-top: 1px solid #f9f6e5;
    border-bottom: 1px solid #f9f6e5;
  }
  .servis__item:nth-child(2) {
    border-top: 1px solid #f9f6e5;
    border-bottom: 1px solid #f9f6e5;
    border-right: 1px solid #f9f6e5;
  }
  .servis__item:nth-child(3) {
    border-top: 1px solid #f9f6e5;
    border-bottom: 1px solid #f9f6e5;
  }
  .servis__item:nth-child(4) {
    border-top: 1px solid #f9f6e5;
    border-bottom: 1px solid #f9f6e5;
  }
  .servis__item:nth-child(6) {
    border-right: 1px solid #f9f6e5;
  }
  .team {
    text-align: left;
  }
  .team__inner {
    display: block;
    margin-top: 80px;
  }
  .team__img {
    max-height: 380px;
    margin-right: 60px;
    float: left;
  }
  .team__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 42px;
    margin-top: 20px;
  }
  .team__title::after {
    left: 470px;
    bottom: -15px;
  }
  .team__text {
    font-size: 18px;
    text-align: left;
    margin-bottom: 60px;
  }
  .team__btn {
    margin-bottom: 48px;
  }
}

/* @media > 1024px  end*/
/* @media > 1440px  start*/
@media (min-width: 1440px) {
  .conteiner {
    max-width: 1366px;
    padding: 0 40px;
  }
  .slider {
    min-height: 668px;
    max-width: 1366px;
    margin: 0 auto;
  }
  .slider__item {
    min-height: 668px;
  }
  .slider__title {
    margin-bottom: 18px;
    font-size: 96px;
    line-height: 96px;
  }
  .slider__text {
    margin-bottom: 28px;
  }
  .slick-dots li.slick-active button {
    border-color: #fff;
  }
  .slick-dots button {
    border: 1px solid #fff;
    background-color: #fff;
  }
  .top {
    min-height: 192px;
  }
  .top__content {
    min-height: 192px;
  }
  .top__content-text {
    min-height: 192px;
  }
  .top__title {
    padding-top: 57px;
  }
  .top__text {
    max-width: 540px;
  }
  .top__btn {
    margin-top: 0px;
  }
  .servis__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .servis__content-text {
    max-width: 355px;
    text-align: left;
    margin-right: 100px;
  }
  .servis__title {
    margin-bottom: 64px;
  }
  .servis__text-1 {
    margin-bottom: 73px;
  }
  .servis__text-1::after {
    bottom: -30px;
  }
  .servis__text-2 {
    max-width: 355px;
    margin: 0;
  }
  .servis__item:nth-child(1) {
    border-top: none;
  }
  .servis__item:nth-child(2) {
    border-top: none;
  }
  .servis__item:nth-child(3) {
    border-top: none;
  }
  .servis__item:nth-child(4) {
    border-top: none;
  }
  .team__img {
    max-height: 430px;
    margin-right: 100px;
  }
  .team__title {
    margin-bottom: 77px;
  }
  .team__title::after {
    left: 565px;
    bottom: -30px;
  }
  .team__text {
    margin-bottom: 90px;
  }
  .team__btn {
    margin-bottom: 80px;
  }
}

/* @media > 1440px  end*/
/*# sourceMappingURL=media.css.map */